:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.myInput::placeholder {
  color: #ffffff; /* Sets the placeholder color to red */
  opacity: 1; /* Ensures full opacity, as some browsers default to a lower opacity */
}

.double-gradient-box {
  height: 1200px;
  background-image:
    radial-gradient(circle at top left, pink, transparent 50%),
    radial-gradient(circle at bottom right, skyblue, transparent 50%);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  border: 1px solid #ccc;
}

